:root {
  --color-blue-indigo: #1e3a5f;
  --color-blue-dasl: #2f4858; // Dark Slate Gray
  --color-blue-indep: #485a73; // Independence
  --color-blue-argentinian: #6cb4ee; // Argentinan Blue
  --color-blue-defrance: #318ce7; // Blue de france

  --color-green-charleston: #282830;

  --color-yell-banana: #ffe234; //Banana Yellow
  --color-yell-brightsun: #ffd43b; //Bright Sun Yellow

  --color-wh-alabaster: #edf6e9; // Alabaster
  --color-wh-lightsilv: #d5dadd; // Light Silver
  --color-wh-anflash: #f3f0f6; // Anti-Flash White
  --color-wh-chinease: #b0b0b0; // Chinese White
  --color-wh-cococream: #000000; //Coconut cream
  --color-wh-milk: #fcfff7; // Milk
  --color-wh-ivory: #fdfdf2; // Ivory

  --color-red-spink: #ffbfbf; //Spanish Pink
  --color-red-decapink: #ff3131; // Deep Carmine Pink
  --color-red-suncycl: #f84147; // Sunburnt Cyclops
}
